[submodule "MSI/MSIBuild"]
	path = MSI/MSIBuild
	url = https://github.com/Amebis/MSIBuild.git
[submodule "lib/WinStd"]
	path = lib/WinStd
	url = https://github.com/Amebis/WinStd.git
[submodule "lib/wxExtend"]
	path = lib/wxExtend
	url = https://github.com/Amebis/wxExtend.git
[submodule "lib/stdex"]
	path = lib/stdex
	url = https://github.com/Amebis/stdex.git
